[npsgd]
resultsEmailBodyPath     = templates/results_email_body.txt
confirmEmailTemplatePath = templates/confirm_email_body.txt
failureEmailTemplatePath = templates/failure_email_body.txt
confirmEmailSubject      = NPSG Job Confirmation
resultsEmailSubject      = Your NPSG Model Results
failureEmailSubject      = NPSG Job Failed
modelTemplatePath        = templates/model.html
confirmTemplatePath      = templates/confirm.html
confirmedTemplatePath    = templates/confirmed.html
maxJobFailures           = 3
keepAliveInterval        = 30
keepAliveTimeout         = 300
queueServerAddress       = 127.0.0.1
queueServerPort          = 9000

[email]
smtpUsername    = user@gmail.com
fromAddress     = user@gmail.com
smtpPassword    = coolsauce
smtpServer      = smtp.gmail.com
smtpPort        = 587
smtpUseTLS      = true
cc              = user@gmail.com

[Latex]
pdflatexPath   = /usr/bin/pdflatex
resultTemplate = templates/result_template.tex

[Matlab]
required   = true
matlabPath = /usr/local/MATLAB/R2010b/bin/matlab
