<!DOCTYPE html>
<html>
    <head>
        <title>NPSGD</title>
        <link rel="stylesheet" type="text/css" href="/static/css/npsgd.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.8.5.custom.css" />
        <script type="text/javascript"          src="/static/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript"          src="/static/js/jquery-ui-1.8.5.custom.min.js"></script>
        <script type="text/javascript"          src="/static/js/jquery.validate.min.js"></script>
        <script type="text/javascript"          src="/static/js/npsgd.js"></script>
    </head>
    <body>
        <div id="wrapper">
            {% block content %}
                Need content!
            {% end %}
        </div>
    </body>
</html>
